*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://static.vecteezy.com/ti/fotos-gratis/p1/6654071-praia-outono-ferias-conceito-fundo-natureza-quadro-com-coqueiro-palmeiras-na-praia-com-luz-sol-flare-bonito-por-do-sol-ou-nascer-paisagem-fundo-foto.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    margin: 30px 0;
    display: flex;
    gap: 40px;


}
button {

    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}
button:hover{
    opacity: 0.7;
}

#rock{
    background-color: #55085c;
}

#paper{
    background-color: #19b42d;
}

#scissors{
    background-color: #3180d0;
}
p{
    font-weight: bold;
    margin-bottom: 10px;

}
.your-score span{
    color: rgb(61, 117, 239);
}
.machine-score span{
    color: rgb(231, 59, 59);
}